<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" thread-count="1" parallel="methods">
    <parameter name="baseUrl" value="https://qa.koel.app/"/>
    <test name="Sprint10">
        <classes>
            <class name="QueueTest">
                <methods><include name="allSongsQueueTest"/></methods>
            </class>
        </classes>
    </test>
</suite>