<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods">
    <parameter name="baseUrl" value="https://qa.koel.app/"/>
    <test name="A55-L26 CI/CD" preserve-order="false">
        <classes>
            <class name="HomeWork25">
                <methods><include name="launchParallel"/></methods>
                <methods><include name="launchTest"/></methods>
            </class>
        </classes>
    </test>
</suite>